/* width */
::-webkit-scrollbar {
  width: 20px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #0047AB;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0047AB;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0067f8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: sans-serif;
}

.topbar {
  position: fixed;
  z-index: 99;
}

.menu-nav .menu-container {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 3%;
  top: 1.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu-nav .menu-container:hover .nav {
  transform: scaleX(1);
  transition-duration: 0.3s;
}
.menu-nav .menu-container:hover div.menu-line {
  background: #2c83ff;
}
.menu-nav .menu-container:hover .menu-top {
  transform: scaleX(1.7);
  transition: transform 0.3s;
}
.menu-nav .menu-container:hover .menu-mid {
  transform: scaleX(0.5);
  transition: transform 0.3s;
}
.menu-nav .menu-container:hover .menu-bottom {
  transform: scaleX(1.7);
  transition: transform 0.3s;
}
.menu-nav .menu-container div {
  height: 10%;
  background: #0047AB;
  margin: 3px 0;
  transition: transform 0.3s;
}
.menu-nav .menu-container .menu-top {
  width: 40%;
}
.menu-nav .menu-container .menu-mid {
  width: 80%;
}
.menu-nav .menu-container .menu-bottom {
  width: 40%;
}
.menu-nav .menu-container nav {
  background: #0047AB;
  width: 35%;
  position: fixed;
  top: 15px;
  right: 8%;
  z-index: 98;
  padding: 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 45px;
  filter: drop-shadow(3px 3px 5px);
  transform: scaleX(0);
  transition-duration: 0.3s;
}
.menu-nav .menu-container nav:hover {
  background: #0067f8;
}
.menu-nav .menu-container nav ul {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.menu-nav .menu-container nav ul a {
  color: rgba(245, 245, 245, 0.6);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bolder;
}
.menu-nav .menu-container nav ul a:hover {
  color: whitesmoke;
}

.sidebar-container {
  height: 100vh;
  width: 33%;
  color: whitesmoke;
  background: #1274ff;
  font-size: 1.8rem;
  padding: 2% 45px 2% 15px;
  position: fixed;
  top: 0;
  z-index: 97;
  overflow-y: auto;
}
.sidebar-container .contact-info {
  margin: 3% 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}
.sidebar-container .contact-info * {
  margin: 0 10px;
}
.sidebar-container .contact-info :nth-child(2) {
  margin-right: 20px;
}
.sidebar-container .contact-info a {
  color: #c5ddff;
  text-decoration: none;
  font-size: 1.4rem;
}
.sidebar-container .contact-info a:hover {
  color: whitesmoke;
}
.sidebar-container .contact-info p {
  display: inline;
}
.sidebar-container .titles {
  margin: 10px 0;
}
.sidebar-container .name-ttl {
  line-height: 4.1rem;
  font-size: 4rem;
}
.sidebar-container .position-ttl {
  font-size: 2.5rem;
}
.sidebar-container .profile-img {
  width: 100%;
  height: 250px;
  border-radius: 15px;
  margin: 0 0 15px;
  filter: grayscale(1);
  transition-duration: 0.6s;
  background-image: url("../assets/me.jpeg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.sidebar-container .profile-img:hover {
  filter: grayscale(0);
}
.sidebar-container p {
  line-height: 2.3rem;
  margin-bottom: 8%;
  font-size: 1.7rem;
}
.sidebar-container p .codekage-tooltip-trigger {
  background: none;
  border: none;
  display: inline;
  border-bottom: 1px dashed whitesmoke;
  color: whitesmoke;
  padding-bottom: 3px;
  font-weight: bold;
  font-size: 1.7rem;
}
.sidebar-container p .codekage-tooltip-trigger:hover .codekage-tooltip {
  transition-duration: 0.4s;
  opacity: 1;
}
.sidebar-container p .codekage-tooltip-trigger .codekage-tooltip {
  background: #abceff;
  color: black;
  width: 230px;
  position: absolute;
  margin: -85px 0 0 -80px;
  padding: 10px;
  line-height: 1.4rem;
  border-radius: 6px;
  filter: drop-shadow(3px 3px 5px);
  opacity: 0;
  transition-duration: 0.4s;
  font-size: 1.2rem;
  font-weight: 500;
}
.sidebar-container p .codekage-tooltip-trigger .codekage-tooltip a {
  color: black;
  text-decoration: none;
  border-bottom: 1px dashed black;
  padding-bottom: 2px;
  font-size: 1.2rem;
  font-weight: bold;
}
.sidebar-container .skills {
  margin-bottom: 7%;
}
.sidebar-container .skills h3 {
  margin: 25px 0 10px;
  text-align: center;
  font-size: 2.7rem;
}
.sidebar-container .skills .skills-icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
}
.sidebar-container .skills .skills-icons ion-icon {
  opacity: 0.6;
  transition-duration: 0.3s;
  margin: 5px 10px;
  font-size: 4.5rem;
}
.sidebar-container .skills .skills-icons ion-icon:hover {
  opacity: 1;
  transition-duration: 0.3s;
}
.sidebar-container small {
  text-align: center;
  width: 210px;
  display: block;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: auto;
  font-size: 1.5rem;
  font-weight: bolder;
}
.sidebar-container small a {
  text-decoration: none;
  color: whitesmoke;
  border-bottom: 1px dashed whitesmoke;
  padding-bottom: 3px;
  transition-duration: 0.3s;
  font-size: 1.5rem;
}
.sidebar-container small ion-icon {
  transition-duration: 0.3s;
  font-size: 2rem;
}
.sidebar-container small ion-icon:hover {
  opacity: 0.5;
  transition-duration: 0.3s;
}
.sidebar-container small .footer-icons {
  border-bottom: none;
}
.sidebar-container small .footer-icons:hover {
  border-bottom: none;
}

.about {
  background: #c5ddff;
  position: absolute;
  z-index: 1;
  padding: 32px 15px;
  top: 0;
  right: 0;
  width: 67%;
  height: 100vh;
  overflow-y: auto;
  color: #262626;
  font-size: 4rem;
  line-height: 2.4rem;
}
.about h1 {
  margin-bottom: 2%;
  font-size: 4rem;
}
.about .about-section-container {
  font-size: 4rem;
  line-height: 2.4rem;
}
.about .about-section-container .mybio {
  padding: 0 2% 1%;
  line-height: 2.6rem;
  font-size: 1.8rem;
}
.about .about-section-container .about-sec {
  display: flex;
  justify-content: space-evenly;
  margin: 4% 0;
}
.about .about-section-container .about-sec p {
  width: 40%;
}
.about .about-section-container .about-sec p span {
  font-weight: 600;
  font-size: 2.5rem;
}
.about .about-section-container .about-sec .about-pic {
  width: 40%;
  border-radius: 16px;
  filter: drop-shadow(3px 3px 5px);
  transition-duration: 0.4s;
}
.about .about-section-container .about-sec .about-pic:hover {
  transform: scale(1.1);
}
.about .about-section-container .about-sec .abt-pic-1 {
  background-image: url("../assets/myDesk.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about .about-section-container .about-sec .abt-pic-2 {
  background-image: url("../assets/bella.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about .about-section-container .about-sec .abt-pic-3 {
  background-image: url("../assets/me(1).jpeg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.about .about-section-container .about-mid {
  flex-direction: row-reverse;
}

.resume-container {
  background: #c5ddff;
  position: absolute;
  z-index: 1;
  padding: 32px 15px;
  top: 0;
  right: 0;
  width: 67%;
  height: 100vh;
  overflow-y: auto;
  color: #262626;
  font-size: 4rem;
  line-height: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.resume-container .resume-dl {
  margin: 0 0 2%;
}
.resume-container .resume-dl a {
  text-decoration: none;
  color: #ff4d4d;
  padding-bottom: 5px;
  border-bottom: 1px dashed #ff4d4d;
  font-weight: bolder;
  font-size: 1.4rem;
}
.resume-container .resume-dl a:hover {
  color: black;
  border-bottom: 1px dashed black;
}
.resume-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/*# sourceMappingURL=index.css.map */
