.about {
    background: lighten($cobaltBlue, 55%);
    position: absolute;
    z-index: 1;
    padding: 32px 15px;
    top: 0;
    right: 0;
    width: 67%;
    height: 100vh;
    overflow-y: auto;
    color: lighten(black, 15%);
    font-size: 4rem;
    line-height: 2.4rem;

    h1 {
        margin-bottom: 2%;
        font: {
            size: 4rem;
        }
    }

    .about-section-container {
        font-size: 4rem;
        line-height: 2.4rem;

        .mybio {
            padding: 0 2% 1%;
            line-height: 2.6rem;
            font: {
                size: 1.8rem;
            }
        }

        .about-sec {
            display: flex;
            justify-content: space-evenly;
            margin: 4% 0;

            p {
                width: 40%;

                span {
                    font: {
                        weight: 600;
                        size: 2.5rem;
                    }
                }
            }

            .about-pic {
                width: 40%;
                // height: 150px;
                border-radius: 16px;
                filter: drop-shadow(3px 3px 5px);
                transition-duration: .4s;

                &:hover {
                    transform: scale(1.1);
                    // transition-duration: .4s;
                }
            }

            .abt-pic-1 {
                background: {
                    image: url('../assets/myDesk.png');
                    position: center;
                    size: cover;
                    repeat: no-repeat;
                }
            }

            .abt-pic-2 {
                
                background: {
                    image: url('../assets/bella.JPG');
                    position: center;
                    size: cover;
                    repeat: no-repeat;
                }
            }

            .abt-pic-3 {
                
                background: {
                    image: url('../assets/me(1).jpeg');
                    position: top;
                    size: cover;
                    repeat: no-repeat;
                }
            }
        }

        .about-mid {
            flex-direction: row-reverse;
        }
    }
}
