.main-container {
    background: rgba(white, .9);
    height:100vh;

    .construction-txt {
        text-align:left;
        font-size:1.5rem;

        p {
            line-height:1.8rem;
        }
    }
}