.footer {
    position:fixed;
    bottom:0;
    width:100%;
    z-index:99;
    padding:2%;
    text-align:center;
    color:$cobaltBlue;
    font: {
        size:.8rem;
        weight:bold;
    }

    p {
        a {
            text-decoration: none;
            color:$cobaltBlue;

            &:hover {
                border-bottom:1px solid $cobaltBlue;
            }
        }
    }
}