nav {
  height: 45vh;
  position: absolute;
  z-index: 98;
  right: 25px;
  background: white;
  width: 240px;
  border-radius: 18px;
  filter:drop-shadow(black 5px 5px 9px);
  display: none;

  ul {
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    
    * {
      // margin: 10px 0;
      color: $cobaltBlue;
      font: {
        family: "Oswald";
        weight: 400;
      }

      &:hover {
        color:skyblue;
      }
    }
  }
}
