nav {
    background: $cobaltBlue;
    width: 40%;
    position: fixed;
    top: 15px;
    right: 90px;
    z-index: 98;
    padding: 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 45px;
    filter: drop-shadow(3px 3px 5px);

    &:hover {
        background: lighten($cobaltBlue, 15%);
    }

    
}