.menu-nav {
    .menu-container {
        width: 50px;
        height: 50px;
        position: fixed;
        right: 3%;
        top: 1.5%;
        @include displayFlex;

        &:hover .nav {
            transform: scaleX(1);
            transition-duration: .3s;
        }

        &:hover div.menu-line {
            background: lighten($cobaltBlue, 25%);
        }

        &:hover .menu-top {
            transform: scaleX(1.7);
            transition: transform .3s;
        }

        &:hover .menu-mid {
            transform: scaleX(.5);
            transition: transform .3s;
        }

        &:hover .menu-bottom {
            transform: scaleX(1.7);
            transition: transform .3s;
        }

        div {
            height: 10%;
            background: $cobaltBlue;
            margin: 3px 0;
            transition: transform .3s;
        }

        .menu-top {
            width: 40%;
        }

        .menu-mid {
            width: 80%;
        }

        .menu-bottom {
            width: 40%;
        }

        nav {
            background: $cobaltBlue;
            width: 35%;
            position: fixed;
            top: 15px;
            right: 8%;
            z-index: 98;
            padding: 15px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            height: 45px;
            filter: drop-shadow(3px 3px 5px);
            transform: scaleX(0);
            transition-duration: .3s;
        
            &:hover {
                background: lighten($cobaltBlue, 15%);
            }
        
            ul {
                width: 90%;
                margin: auto;
                display: flex;
                justify-content: space-evenly;
        
                a {
                    color: rgba(whitesmoke, .6);
                    text: {
                        decoration: none;
                        transform: uppercase;
                    }
                    font: {
                        size: 1.5rem;
                        weight: bolder;
                    }
        
                    &:hover {
                        color: rgba(whitesmoke, 1);
                    }
                }
            }
        }
    }
    
}