.top-bar {
    background:$cobaltBlue;
    padding:.5% 1.5%;
    color:white;
    position:fixed;
    top:0;
    width:100%;
    z-index:99;

    a {        
        img {
            width:50px;
        }
    }
}