.top-bar {
    background: rgba(white, 1);
    padding:.5% 1.5%;
    color:white;
    position:fixed;
    top:0;
    width:100%;
    z-index:99;
    display:flex;
    align-items: center;
    justify-content: space-between;

    a {        
        img {
            width:50px;
        }
    }

    ion-icon {
        color:$cobaltBlue;
        font-size:1.7rem;
    }
}